/* Estrutura */
.input-container {
    position: relative;
    padding-top: 1rem
}

.input-container input,
.input-container select {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    padding: 10px 10px 10px 0;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #7A7A7A;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.input-container label {
    color: #7A7A7A;
    font-size: 1em;
    font-weight: inherit;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

.input-container input,
.input-container select,
.input-container label {
    height: 3;
}

.input-container input:focus,
.input-container select:focus {
    outline: none;
    border-bottom: 1px solid hsl(204, 86%, 53%);
}

.input-container input:focus+label,
.input-container select:focus+label {
    color: #2F80ED;
    top: 0;
    transition: 0.2s ease all;
    font-size: .8rem;
}

.input-container input:not([value=""])+label,
.input-container select:valid+label {
    font-size: .8rem;
    top: -0;
    pointer-events: none;
}

.input-container input:not([value=""]):not(:focus):invalid {
    border-bottom: 2px solid #ff0537;
}

.input-container input:not([value=""]):not(:focus):invalid+label {
    color: #ff0537;
    font-size: .8rem;
    top: 0;
    pointer-events: none;
}

.input-container.readonly {
    background-color: #E3E3E3;
}

.input-container input:read-only {
    cursor: not-allowed;
    background-color: #E3E3E3;
    border-bottom: 1px solid #7A7A7A;
}

.input-container input[value=""]:read-only+label {
    cursor: not-allowed;
}
